<div *ngFor="let car of cars">
  {{car.make}} {{car.model}} with a mileage of {{car.miles}}
</div>
<!-- <br />
<div *ngFor="let avion of avions">
  le {{avion.model}} est un avion de type {{avion.type}} qui a ete fabiquee dans les annees {{avion.annee}} en
  {{avion.pays}}
  <button> Cars </button>
</div> -->
<!-- <button (click)="saySomething()"> Say Something </button> -->


<!-- <div *ngFor="let car in cars">
  <div class="number-display">
    {{car.make}} {{car.model}} with a mileage of {{car.miles}}
  </div>
  <button (click)="showCars()"> Cars </button>
</div> -->